In [2]:
import sqlite3 as sql, pandas as pd, numpy as np, matplotlib as mpl, matplotlib.pyplot as pyplot, math
from matplotlib.ticker import FormatStrFormatter

In [8]:
sqlFile = 'movie.db'
conn = sql.connect(sqlFile)

sql_query = ''' \
    SELECT movies.title, movies.release_date, movies.popularity, movies.vote_average, movies.vote_count, movies.revenue, movies.budget
    FROM movies
'''
sqlite_file = 'lahman2014.sqlite'
conn = sqlite3.connect(sqlite_file)

salary_query = "SELECT yearID, sum(salary) as total_payroll FROM Salaries WHERE lgID == 'AL' GROUP BY yearID"

team_salaries = pandas.read_sql(salary_query, conn)
team_salaries.head()

data = []
for row in conn.execute(sql_query):
    data.append(row)

dataList = []
for key in data:
    (title, releaseDate, popularity, voteAvg, voteCount, revenue, budget) = key
    dataList.append([title, releaseDate, popularity, voteAvg, voteCount, revenue, budget])

columnNames = ["Title", "releaseDate", "popularity", "voteAvg", "voteCount", "revenue", "budget"]
df = pd.read_sql(dataList, columns=columnNames)
df.head()

,Title,releaseDate,popularity,voteAvg,voteCount,revenue,budget
0,Bad Boys for Life,2020-01-17,73.253,7.2,6645,426505244,90000000
1,Super Troopers 2,2018-04-20,12.451,5.8,322,18850674,13500000
2,Pet Sematary,2019-04-05,24.863,5.7,2559,112399944,21000000
3,How to Train Your Dragon: The Hidden World,2019-02-22,61.609,7.8,4810,517526875,129000000
4,Star Wars: The Rise of Skywalker,2019-12-20,62.079,6.5,7223,1074144248,250000000